<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayPic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36BE470B1F0A890100461CCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BE47241F0A890200461CCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BE472F1F0A890200461CCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
